.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px 15px 10px;

  form {
    width: 100%;
    .form-group {
      font-size: 16px;
      color: #7f8c8d;

      label {
        width: 100%;
        padding: 10px 0;
        display: flex;
      }

      input {
        display: flex;
        width: calc(100% - 20px);
        height: 28px;
        border-radius: 18px;
        border: solid #7f8c8d 1px;
        padding: 4px 10px;
      }

      textarea {
        display: flex;
        width: calc(100% - 20px);
        margin-bottom: 15px;
        padding: 4px 10px;
        border: solid #7f8c8d 1px;
        font-size: 13px;
      }

      span {
        font-style: italic;
        line-height: 2.5;
        font-weight: 500;
      }
    }

    .btn {
      height: 42px;
      background-color: #7f8c8d;
      border: none;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      padding: 15px;
      float: right;
      margin-top: 15px;

      &:disabled {
        opacity: .6;
        &:hover {
          background-color: #7f8c8d;
        }
      }
      &:hover {
        background-color: #737F80;
      }
    }
  }
}
